html {
  background: rgb(44, 44, 44);
  font-size : 62.5%;
  color: darkgray;
}



.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(0, 70, 0);
  width: 400px;
  margin: 100px auto;
  border-radius: 10px;
  padding: 20px;
}

form {
  background: rgb(0, 49, 0);
  border-radius: 10px;
}

form button {
  font-size: 1.6em;
  padding: 10px;
  background: rgb(1, 0, 41);
}

.todo {
  font-size: 1.8em;
  padding: 10px;
  margin: 8px;
  display: flex;
  word-break: break-word;
}

#completed {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}


.todo button {
  font-size: 1em;
  height: 40px;
  width: 40px;
  margin-left: auto;
}

#input-text {
  margin: 15px;
  padding:8px;
  font-size: 1.8em;
  background: rgb(44, 44, 44);
  color: darkgray;
  border-color: rgb(44, 44, 44);
}

button {
  border: 1px solid darkblue;
  border-radius: 10px;
  background: black;
  color: darkgray;
}

#todo-text {
  text-align: left;
  overflow-y: auto;
  max-height: 30px;
  max-width: 260px;
}

.delete {
  background: rgb(97, 0, 0);
  border: none;
  box-shadow: 0 5px 5px rgb(0, 49, 0);
}

button:hover {
  cursor: pointer;
}

#del-all {
  width: 50%;
  margin: auto;
  height: 40px;
  font-size: 2em;
  font-weight: 600;
}

